.dash-container {
  display: flex;
  flex-direction: row;
  padding: 20px 0 0 20px;
  color: #ffffffe7;
  gap: 40px;
}
@media (max-width: 768px) {
  .dash-container {
    display: flex;
    flex-direction: column;
  }
  .image {
    width: 100%;
    height: auto;
  }
}
.left-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
  padding: 10px;
}
.right-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex: 1;
}
.cart-one {
  display: flex;
  flex: 1;
  gap: 10px;
}
.cart-two {
  display: flex;
  flex: 1;
  gap: 10px;
}
.cart-three {
  display: flex;
  flex: 1;
  gap: 10px;
}
.btn {
  cursor: pointer;
  color: #fff;
}
.result-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e9e0c2;
  flex: 1;
  gap: 10px;
  border-radius: 10px;
  color: #fff;
  font-weight: 900;
  padding: 5px;
}
.image {
  width: 100%;
  height: 200px;
  background-color: rgb(7, 7, 14);
}

.add-btn {
  padding: 10px;
  background-color: rgb(221, 148, 12);
  border: none;
  outline: none;
  border-radius: 10px;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}
