.header {
  display: flex;
  z-index: 2;
  align-items: center;
  background-color: #888881;
  height: 70px;
  color: #fff;
  gap: 60px;
  font-weight: 700;
  font-size: 19px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header {
    display: flex;
    gap: 10px;
    flex-direction: column !important;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
  }
  .nav-links {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
  }
  button {
    display: flex;
    align-items: center;
    padding: 2px;
    color: #fff;
  }
}
.header .logo {
  width: 95px;
  height: 69px;
  border-radius: 0;
}
.header span {
  display: flex;
}
.nav-links {
  display: flex;
  gap: 25px;
}
.nav-links a {
  text-decoration: none;
  color: #fff;
}
.nav-links .active {
  color: #000000;
  border-radius: 2px;
}
